/*
@darkblue: #19273C;
@lightblue: #4b759b;
@lightestblue: #73ACD7;
@orange: #F78B54;
@green: #72C494;
@grey: #666;
*/

body{
	font-family: 'Open Sans', sans-serif;
	color: #19273C;
    line-height: 1.6;
}

p{
	font-size: 15px;

}

h3{
	color: #19273C;
	font-weight: bold;
}

a{
	text-decoration: none;
	font-size: 100%;
	color: #72C494;
}
a:hover{
	cursor: pointer;
	color: #72C494;
	text-decoration: none;
}

.logobox img{
	width: 100%;
}

ul#applist{
	list-style: none;
	margin: 10px;
	padding-left: 0px;
}

#applist li {
	list-style: none;
	padding-left: 5px;
	line-height: 2em;
	font-size: 16px;
}

#applist li:before{
	content: "\2192\2009";
	color: #72C494;
	position: relative;
	bottom: 1px;
	margin-right: 10px;
}

#applist li a {
	text-decoration: none;
	font-size: 100%;
	padding: 5px;
	padding-left: 0;
	width: 100%;
	transition-property: all;
	transition-duration: 0.1s;
	color: #72C494;
}

#applist li:hover {
	background-color: rgba(0,0,0,0.1);
}

#applist li a:visited {
		color: #72C494;
}

.appdetails{
	margin-top: 40px;
}

.btn{
	font-weight: bold;
	letter-spacing: .03em;
}

.btn-primary{
	background-color: #19273C;
	-webkit-box-shadow: none;
	box-shadow: none;

}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus, .btn-primary:active:hover{
	background-color: #4b759b;
}

.btn-primary:active {
    background-color: #4b759b;
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: no-repeat;
    -webkit-background-size: 1000% 1000%;
    background-size: 1000%;
    -webkit-box-shadow: none;
    box-shadow: none;
    }
    
.newAppForm{
	margin-top: 30px;
}
    
textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control{
	 padding: 7px;
 }
 
.newAppForm .control-label{
	 padding-top: 9px;
 }
 
.newAppForm .btn-primary{
	margin-top: 30px;
}
 
input[type="checkbox"]:checked:after, .checkbox input[type="checkbox"]:checked:after, .checkbox-inline input[type="checkbox"]:checked:after{
	 background-color: #4b759b;
	 border-color: #4b759b;
 }
 
textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control{
	box-shadow: none;
	-webkit-box-shadow: none;
	border: 1px solid #19273C;
	border-radius: 2px;
	
}
 
.control-label{
	font-size: 16px;
	font-weight: 600;
}
 
.help-block{
	color: #4b759b;
	}
    
.appDetails h3{
    margin-bottom: 20px;
}

.appDetails .title p{
    font-weight: 600;
    font-size: 16px;
    text-align: right;
}

.user-control p{
    font-size: 90%;
    margin-bottom: 0px;
    text-align: right;
    line-height: 1.3;
}

.title{
    text-align: center;
}

.netid-login{
    display: block;
    margin: 0 auto;
    height: 49px;
    width: 250px;
    background: url('images/netID-login.png') 0px 0px/250px 49px no-repeat no-repeat;
}
.netid-login:hover, .netid-login:active, .netid-login:focus{
    background: url('images/netID-login-light.png') 0px 0px/250px 49px no-repeat no-repeat;
}